* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;

	--white: #EEF0F4;
	--black: #262626;
	--gray: #6F6F70;
	--purple: #B286FD;
	--red: #FD8686;

}

body {
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 3.4rem;
	font-weight: 600;
	margin-bottom: 5rem;
}

form {
	width: 30rem;
}

.input-block {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}

.input-block:focus-within #input {
	border-color: var(--black);
}

.input-block:focus-within label {
	color: var(--black);
}

.error:focus-within #input {
	border-color: var(--red);
}

.error:focus-within label {
	color: var(--red);
}

.input-block #input {
	width: 100%;
	background: transparent;
	font-family: inherit;
	padding: 1rem 1.25rem;
	font-size: 1.6rem;
	border-style: none;
	border: 1px solid var(--gray);
	outline: none;
	border-radius: 1rem;
	transition: border-color 150ms ease;
}

.input-block label {
	font-size: 1.4rem;
	color: var(--gray);
	position: absolute;
	top: -25%;
	left: 3%;
	background: var(--white);
	padding: 0 0.5rem;
	transition: color 150ms ease;
}

.input-block span {
	color: var(--red);
	font-size: 1.4rem;
	position: absolute;
	bottom: -50%;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	transition: opacity 150ms ease;
}

.error label,
.error #input {
	color: var(--red);
}

.error #input {
	border-color: var(--red);
}

.error span {
	opacity: 1;
}

#submit {
	background: var(--black);
	border: none;
	width: 100%;
	padding: 1.1rem;
	font-family: inherit;
	color: var(--white);
	font-weight: 600;
	font-size: 1.6rem;
	border-radius: 1rem;
	margin-top: 3rem;
	cursor: pointer;
	transition: background 150ms ease, outline-color 150ms ease;
}

#submit:hover {
	background: var(--purple);
	outline: 0.5rem solid #B286FD44;
}